<ion-view title="{{title}}">

	<ion-nav-bar align-title="center" class="bar-assertive">
		<ion-nav-back-button>
  		</ion-nav-back-button>
	</ion-nav-bar>

	<!-- <ion-nav-buttons side="secondary">
		<button class="button" ng-click="save()">
			Save
		</button>
	</ion-nav-buttons> -->
	<ion-nav-buttons side="right">
      <button class="button" ng-click="doSomething()">
      	Change
      </button>
    </ion-nav-buttons>

	<ion-content>

		<div class="padding">
			<button class="button button-block button-light" ng-click="changeDate()">
				{{attendance.date | date}}
			</button>
		</div>
		
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search" ng-model="searchText">
		</label>
		
		<ion-list>
			<ion-item class="item-toggle" ng-repeat="scout in scouts | filter:searchText">
				<h2>{{scout.firstName}} {{scout.lastName}}</h2>
				<label class="toggle toggle-assertive">

					<input type="checkbox" ng-model="attendance.present[scout.id].stat" ng-change="attendanceChange(scout.id)">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>

			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>