<ion-view title="Smart Scout Attendance" name="login-view">
	<ion-nav-bar align-title="center" class="bar-assertive"></ion-nav-bar>

	<ion-content>
		
		<ion-list type="list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password">
			</label>
		</ion-list>
		<div class="padding">
			<button class="button button-block button-outline button-assertive" ng-click="login()">Login</button>
		</div>

	</ion-content>

</ion-view>