<ion-view title="Smart Scout Attendance">
	<ion-nav-bar align-title="center" class="bar-{{defaultTheme}}"></ion-nav-bar>

	<ion-content>
		
		<ion-list type="card">
			<ion-item ng-click="select('shaheen');" class="item-icon-left">
				<i class="icon ion-ionic"></i> Shaheen
			</ion-item>
			<ion-item ng-click="select('scouts');" class="item-icon-left">
				<i class="icon ion-ionic"></i> Scouts
			</ion-item>
			<ion-item ng-click="select('rovers');" class="item-icon-left">
				<i class="icon ion-ionic"></i> Rovers
			</ion-item>
		</ion-list>

	</ion-content>

</ion-view>