<ion-view title="Rovers">

	<ion-nav-bar align-title="center" class="bar-{{theme}}">
		<ion-nav-back-button>
  		</ion-nav-back-button>
  	</ion-nav-bar>

  	<ion-nav-buttons side="left">
        <button ng-class="view.orderReverse ? 'button button-icon icon ion-ios-arrow-thin-down' : 'button button-icon icon ion-ios-arrow-thin-up';"
         ng-click="view.orderReverse = !view.orderReverse"></button>
        
      </ion-nav-buttons>

  	<ion-nav-buttons side="right">
        <!-- <button class="button button-icon icon ion-ios-minus-outline" ng-click="shouldShow()"></button> -->
        <button class="button button-icon icon ion-ios-plus-outline" ng-click="addNew()"></button>
      </ion-nav-buttons>
      
	<ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doSync()">
    </ion-refresher>

		<ion-list show-delete="shouldShowDelete" type="card">
			<ion-item ui-sref="getattendance({guid:attendance.guid})" ng-repeat="attendance in attendanceSummary | orderObjectBy:'date':view.orderReverse">
				<h2>{{ attendance.name }}</h2>
  				<p>{{ attendance.date | date:'MMM dd, yyyy' }}</p>
  				<span class="badge badge-{{theme}}">{{ attendance.count }}/{{ attendance.total }}</span>

				<ion-delete-button class="ion-minus-circled"
                       ng-click="removeItem(attendance.guid)"></ion-delete-button>

			</ion-item>

      <ion-item ng-click="addNew()" ng-show="listEmpty">Click here to add new attendance</ion-item>
		</ion-list>
	</ion-content>

</ion-view>